<<<<<<< HEAD
.Produit {
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    background-color: ivory;
    box-shadow: 5px 5px 15px 2px rgba(80, 78, 77, 0.75);

    .titre {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .prix::after {
        content: ' $CA';
    }

    img {
        width: 240px;
=======
.Produit{
    width: fit-content;
    background-color: whitesmoke;
    box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.75);
    margin: 0.5rem;
    text-align: center;
    padding: 0.5rem;
     

    .titre{
        font-size: 1.25rem;
        font-weight: bold;

    }

    .prix{
        padding: 0.5rem;
    }

    .prix::after{
        content: '$CA';
        
>>>>>>> 8b17846b1c1fef5331a786ab59268602765caff2
    }
}